# Plot points on a map
```sql
select 
  carsharing_rental.id,
  carsharing_rental.customer_id,
  carsharing_rental.created_at,
  s.lat as start_lat,
  s.lng as start_lng,
  e.lat as end_lat,
  e.lng as end_lng
from
  carsharing_rental
join common_location s on (s.id = carsharing_rental.start_location_id)
join common_location e on (e.id = carsharing_rental.end_location_id )
where
  [carsharing_rental.created_at=daterange:hpst] and
  carsharing_rental.end_datetime is not null
```

In [5]:
from bokeh.tile_providers import CARTODBPOSITRON
import pandas as pd

output_n

In [4]:
data_filename = 'Rentalstartandendlatlngs_2019-4-19_1414.csv'

df = pd.read_csv(data_filename, 
                 parse_dates=[2],
                 infer_datetime_format=True)
df.head()

,id,customer_id,created_at,start_lat,start_lng,end_lat,end_lng
0,599213,59802,2019-04-19 07:10:02.102230,38.569490,-121.47623,38.569473,-121.476180
1,599208,56614,2019-04-19 07:02:51.691177,37.867880,-122.25048,37.867910,-122.250510
2,599211,16102,2019-04-19 07:06:49.435180,37.866623,-122.25645,37.870773,-122.270900
3,599210,14162,2019-04-19 07:04:00.862194,37.875640,-122.25876,37.864952,-122.259346
4,599216,58730,2019-04-19 07:14:35.241074,38.580128,-121.50273,38.585570,-121.486460